[submodule "include/nlpp/external/Eigen"]
	path = nlpp/external/Eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "include/nlpp/external/handy"]
	path = nlpp/external/handy
	url = https://github.com/matheuspf/handy
[submodule "tests/external/googletest"]
	path = tests/external/googletest
	url = https://github.com/google/googletest
[submodule "benchmark/external/googlebench"]
	path = benchmark/external/googlebench
	url = https://github.com/google/benchmark
[submodule "include/nlpp/external/spectra"]
	path = nlpp/external/spectra
	url = https://github.com/yixuan/spectra
[submodule "nlpp/external/nanoflann"]
	path = nlpp/external/nanoflann
	url = https://github.com/jlblancoc/nanoflann
